<!DOCTYPE html>
<html lang="es">
<head>

  <meta charset="UTF-8">
  <title>Productos</title>
  <link rel="stylesheet" type="text/css" href="/css/producto.css">
  <link rel="icon" type="image/x-icon" href="img/silla.png"/>
</head>
<body>
  <h1>Productos <%=modelo.length%></h1>
  <div class="table">
    <table>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Codigo</th>
            <th>Precio</th>
            <th>Descripcion</th>
            <th>Calidad</th>
            <th>Cantidad</th>
            <th>Categoria</th>
            <th>
              <a href="/add">
                <img src="/img/add.png" id='add'>
              </a>
            </th>
          </tr>
          <%for(const producto of modelo){%>
            <tr>
              <td><%=producto.producto_id%></td>
              <td><%=producto.nombre%></td>
              <td><%=producto.codigo%></td>
              <td><%=producto.precio%></td>
              <td><%=producto.descripcion%></td>
              <td><%=producto.calidad%></td>
              <td><%=producto.cantidad%></td>
              <td><%=producto.categoria_id%></td>
              <td class="icon">
              <a href="/update/<%= producto.producto_id%>"><img src="/img/update.png" width="30"></a>
              <a href="/delete/<%= producto.producto_id%>"><img src="/img/delete.png" width="30" id="delete"></a>
              <a href="/addImagen/<%= producto.producto_id%>"><img src="/img/foto.png" width="30"></a>
             </td>
            </tr>
           <%}%>
        </table>
       
  </div>

 <div id='botones'>
    <a class='botonProductos' href="/logout2">Regresar</a>
    <a href='/categorias' class='botonProductos'>Categorias</a>
    <a href="/usuarios">Usuarios</a> 
    <a href="/compras">Compras</a>
    <a href="/productos">Productos</a>
  </div>
  
</body>
</html>
